streamlit
requests
plotly
pandas
python-dotenv
langchain
langchain-groq
langchain-huggingface
langchain-pinecone
langchain-community
langgraph
pinecone-client
sentence-transformers
fastapi
uvicorn
python-multipart
# If you use opencv, use the headless version for servers:
opencv-python-headless