fastapi
uvicorn
python-multipart
requests
python-dotenv
langchain
langchain-groq
langchain-huggingface
langchain-pinecone
langchain-community
langgraph
pinecone-client
pandas
plotly
opencv-python-headless
streamlit